<h2>Welcome to CSE Motors!</h2>
<div class="container">
    <div id="marketing">
        <ul>
            <li style="font-weight:bolder;">DMC Delorean</li>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dicel</li>
            <li class="button">Own Today</li>
        </ul>
    </div>
    <div id="imgDelorean">
        <img src="/images/vehicles/delorean.jpg" alt="">

    </div>
</div>

  
  
