/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header {
  margin-top: 24px;
  overflow: hidden;
  padding: 20px 10px;
  text-decoration: none;
  line-height: 25px;
 }

.siteName {
  float: left;
  font-size: 50px; 
  font-weight: bolder;
  
}

.siteName a {
  text-decoration: none;
  color: black;
}

#tools {
  float: right;
  font-size: 26px; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  
}

#tools a {
  text-decoration: none;
  color: black;
}

nav {
  margin-top: 45px;
  overflow: hidden;
  background-color: black;
  height: 75px;
  word-spacing: 300px;
  padding-left: 100px;
  
}

nav li {
  color: white;
  font-size: 30px;
  display: inline;
  outline: 12px;
  float: inline;
  
}